{% extends 'base.html' %}

{% block content %}

<h1>Employee Work Form</h1>

<h3><u>Job</u></h3> {{ timesheet.job.name }}
<h3><u>Job Number</u></h3> {{ timesheet.job.job_num }}
<h3><u>Supervisor</u></h3> {{ timesheet.supervisor }}

<br><br>


<!--{% if not more_employees %}-->

<!--More Employees? <a href="{% url 'add_employee_work' timesheet_id=timesheet.id %}?more_employees=True">More</a>-->

<!--{% endif %}-->

<!--<br><br>-->

<!--{% if more_employees %}-->

<!--Number of Employees: <input type="text" name="number_employees"/>-->
<!--<a href="{% url 'add_employee_work' timesheet_id=timesheet.id %}">More</a>-->

<!--{% endif %}-->


<br><br>

<form method="post">
  {% csrf_token %}

    {{ form_set.management_form }}



    <table style="width:80%">
        <tr>
            <th>Employee</th>
            <th>Start Time</th>
            <th>End Time</th>
            <th>Lunch</th>
            <th>Injured</th>
            <th>Comments</th>
            <th>Signature</th>
        </tr>

        {% for form in form_set %}

            <tr>
                <td>{{ form.employee }}</td>
                <td>{{ form.start_time }}</td>
                <td>{{ form.end_time }}</td>
                <td>{{ form.lunch }}</td>
                <td>{{ form.injured }}</td>
                <td>{{ form.comment }}</td>
                <td>SIGN HERE</td>
            </tr>

        {% for error in form.errors %}
        <p>{{ error }}</p>


        {% endfor %}
        {% endfor %}




  <button type="submit">Submit</button>
</form>


{{ employees }}

{% endblock content %}
