{% extends 'base.html' %}

{% block content %}

<h1>Timesheet for {{ timesheet.work_day }}</h1>

<h3><u>Job</u></h3> {{ timesheet.work_day.job.name }}
<h3><u>Job Number</u></h3> {{ timesheet.work_day.job.format_job_num }}

<br><br>


<!--{% if not more_employees %}-->

<!--More Employees? <a href="{% url 'add_employee_work' timesheet_id=timesheet.id %}?more_employees=True">More</a>-->

<!--{% endif %}-->

<!--<br><br>-->

<!--{% if more_employees %}-->

<!--Number of Employees: <input type="text" name="number_employees"/>-->
<!--<a href="{% url 'add_employee_work' timesheet_id=timesheet.id %}">More</a>-->

<!--{% endif %}-->


<br><br>

<form method="post">
  {% csrf_token %}

    {{ form_set.management_form }}
    <!--{{ form_set.as_table }}-->



    <table style="width:80%">
        <tr>
            <th>Employee</th>
            <th>Start Time</th>
            <th>End Time</th>
            <th>Lunch</th>
            <th>Injured</th>
            <th>Comments</th>
            <th>Signature</th>
            <th>Signed?</th>
            <th>Delete?</th>
        </tr>

        {% for form in form_set %}

            <tr>
                <td>{{ form.employee }}</td>
                <td>{{ form.start_time }}</td>
                <td>{{ form.end_time }}</td>
                <td>{{ form.lunch }}</td>
                <td>{{ form.injured }}</td>
                <td>{{ form.comment }}</td>



              <!--THIS WHERE THE MAGIC IS HAPPENING....-->
                <td>SIGN HERE {{ form.initial.id }}</td>

                {% if form.signature.value == True %}

                <td>YES</td>

                {% else %}

                <td>NO</td>

                {% endif %}

                <td>{{ form.DELETE }}</td>


            </tr>
        {% endfor %}
    </table>

    {% for dict in form_set.errors %}
        {% for error in dict.values %}
            <p>{{ error }}</p>
        {% endfor %}
    {% endfor %}

    <br><br>

  <button type="submit">Submit</button>
</form>

<br>

<button>SAVE/BACK</button>

<a href="{% url 'delete_timesheet_view' timesheet_id=timesheet.id %}" class="btn">DELETE</a>

<script>

</script>


{{ employees }}

{% endblock content %}
