{% extends 'base.html' %}

{% block content %}

<h1>Add Work Day for <i>{{ job.name }}</i></h1>
<br>
<form method="post">
  {% csrf_token %}
  <p><b>Creator: </b>{{ request.user.employee.get_short_name }}</p>
  <p><b>Date:  </b>{{ date }}</p>
  <p>{{ form.address.label_tag }} {{ form.address }}</p>
  <br>
  <button type="submit">CREATE WORKDAY</button>
</form>




<!--NOT WORKING-->
<!--<input type="submit" name="add_a_timesheet" value="Add Timesheet"/>-->


<br><br><br>
{% for job_workday in job_workdays %}

<!--Workday on {{ job_workday.date }} for {{ job.name }}-->



<br>

{% endfor %}



{% endblock content %}


<a href="{% url 'single_workday' workday_id=workday.id %}">START</a>
<!--<a href="{% url 'single_workday' workday_id=workday.id %}">{{ workday.job }}</a>-->