{% extends 'base.html' %}


{% block content %}

<h1>Help</h1>

<h3>How to use this site</h3>

<p>This site was designed to make dealing with Timesheets, and all that come with them, easier and more convenient.</p>
<p>Things such as viewing Jobs, adding Employees to Timesheets, signing Timesheets, viewing Jobs/hours worked, etc </p>

<h3>How to create a Timesheet</h3>

<p>The easiest way is to go to the Job section, click on a Job name, then add a Work Day</p>
<p>Physical Timesheets can be added through a specific Work Day for a specific Job</p>
<p>The reason for this is sometimes there can be multiple Timesheets for a given day</p>
<p>For example: working DT or Rivers.  The drive there, the work, and the drive back were
    all different Timesheets and required individual signatures</p>

<p>From the Work Day, which will act as all work on a given day for a given Job no matter how many signatures are required,
    you can then add a Timesheet</p>

<h3>Dealing with Timesheets</h3>

<p>Timesheets are composed of multiple Employee Work forms, which represent a row on the Timesheet</p>
<p>For example, an Employees Name, Signature, Time Started, Lunch, Time ended, and if injured</p>
<p>Add as many Employees as needed and fill out accordingly</p>
<p>Remember, the Pin you create will act as your signature For these online forms.</p>



{% endblock content %}