{% extends 'base.html' %}

{% block content %}

<h1>Jobs</h1>

<br>

{% if jobs %}

    <table class="table" style="width:80%">
        <tr>
            <th>Job Number</th>
            <th>Job Name</th>
            <th>Created By</th>
            <th>Type</th>
            <!--<th>Completed</th>-->
        </tr>

    {% for job in jobs %}

            <tr>
                <td><a href="{% url 'single_job' job_id=job.id %}">{{ job.format_job_num }}</a></td>
                <td>{{ job.name }}</td>
                <td>{{ job.created_by.get_full_name }}</td>
                <td>{{ job.type }}</td>
                <!--<td>{{ job.completed }}</td>-->
            </tr>

{% endfor %}

    </table>

{% else %}

    <h5>No jobs added yet...</h5>

{% endif %}

{% endblock content %}


<!--<a href="{% url 'jobs' %}">Jobs</a>-->