{% extends 'base.html' %}


{% block content %}

<h1>{{ job.name }}</h1>

<p><b>Job Number: </b>{{ job.format_job_num }}</p>

<p><b>Created By: </b>{{ job.created_by }}</p>

<p><b>Type: </b>{{ job.type }}</p>

<!--<p><i>Completed?:</i> <b>{{ job.completed }}</b></p>-->



<br><br>

<p>Job stats and relative background/specific information, etc... </p>

<br><br>


<!--THIS DAM BUTTON DOESNT WORK-->
<!--<input type="submit" name="add_a_timesheet" value="Add Timesheet"/>-->

<a href="{% url 'add_workday' job_id=job.id %}">Add Workday</a>


{% endblock content %}