<!DOCTYPE html>
<html>
<head>
  <title>{% block head_title %}{% endblock %}</title>
  {% block extra_head %}{% endblock %}
</head>
<body>
{% block body %}

  {% if messages %}
    <div>
      <strong>Messages:</strong>
      <ul>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}

  <div>
    <strong>Menu:</strong>
    <ul>
      {% if user.is_authenticated %}
        <p><a href="{% url 'home' %}">Home</a></p>
        <p><a href="{% url 'logout' %}">Logout</a></p>
        <p><a href="{% url 'set_pin' %}">Set/Change Pin</a></p>

      {% else %}
        <li><a href="{% url 'login' %}">login</a></li>

      {% endif %}
    </ul>
  </div>
  {% block content %}{% endblock content %}
{% endblock body %}
{% block extra_body %}
{% endblock extra_body %}
</body>
</html>