{% extends 'base.html' %}



{% block title %}Weight Calculator{% endblock %}

{% block content %}

<!--<div class="container">-->

    <h1>Weight Calculator</h1>

    <br><br>


    <form action="">
      <input type="radio" name="gender" value="Prism" checked> Prism<br>
      <input type="radio" name="gender" value="Cylinder"> Cylinder<br>
      <input type="radio" name="gender" value="Drum"> Drum<br>
      <input type="radio" name="gender" value="Yard Box"> Yard Box<br>
    </form>

    <br><br>

    Length: <input type="text" name="" >  Width:  <input type="text" name="" >  Height: <input type="text" name="" >

    <br><br>

    Substance: <input type="text" name="" >

    <br><br><br>

    VALUE:

    <br><br><br>

    <button>Calculate</button>

<!--</div>-->




{% endblock %}